# Base de datos
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword123
POSTGRES_DB=climai_db
POSTGRES_SERVER=climai_db
POSTGRES_PORT=5432

# APIs Externas
AEMET_API_KEY=tu_clave_de_aemet_aqui
TELEGRAM_TOKEN=tu_token_de_bot_aqui

# Configuración de Redis
REDIS_URL=redis://climai_redis:6379/0

# Configuración de la API
PROJECT_NAME="ClimAI"