# Web Framework & Server
fastapi
uvicorn[standard]
python-multipart

# Database
sqlalchemy[asyncio]
asyncpg
alembic
psycopg2-binary

# Backend Tasks (Worker)
celery
redis

# Data Science & IA
pandas
numpy
scikit-learn
joblib

# Utilities
httpx
jinja2

# Config & Environment
python-dotenv
pydantic>=2.0
pydantic-settings
pydantic[email]