# Web Framework & Server
fastapi
uvicorn[standard]
python-multipart

# Database
sqlalchemy[asyncio]
asyncpg
alembic
psycopg2-binary

# Backend Tasks (Worker)
celery
redis

# Data Science & IA
pandas
numpy
scikit-learn
joblib

# Utilities
httpx
jinja2
requests
pytest

# Config & Environment
python-dotenv
pydantic[email]>=2.0
pydantic-settings>=2.2.0
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
bcrypt==4.0.1

# Notifications
aiosmtplib
